*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.d-flex{
    width: 75%;
}

.navbar-brand{
    padding: 20px;
    
}
.form-control {
    border-radius: 30px;
    height: 130%;
}

  
  @media (max-width: 555px) {
    .card {
      font-size: 9px;
    }
  }
  
  @media (max-width: 576px) {
    .card {
      font-size: 9px; 
    }
  }
  


.card{
    height:450px;
    width: 100%;
    position: relative;
}
.card-body{
    
    padding: 95px 95px;
    height: 100%;
    width:100%;
    /* max-height: 505px; */
    background-color:#004D6D;
    color: whitesmoke;
}

.col-md-3{
    padding: 20px 35px;
}

.hero-title{
    position: absolute;
    font-size: 55px;
    margin-top: -57px;
   }
   .hero-text{
    position: absolute;
       font-size: 46px;
       margin-top:95px;
       margin-left: -30px;
   }
   
/* .card-title{
 font-size: 55px;
}
.card-text{
    font-size: 30px;
} */
.row{
    padding: 90px 140px;
}
.loader{
    padding-top: 100px;
    padding-left: 900px;
}

.icon-style{
    display: flex;
    padding: 12px 0;
    font-size: 23px;
    gap: 0.2rem;
    align-items: center;
    justify-content: flex-start;
}

.icon{
    color: orange;
}
.empty-icon{
    font-size: 2.9rem;
}
/* 
.Modal {
    position: absolute;
    width: 80%;
    justify-content: center;
    align-items: center;
 }
  */
 
 .modal-overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 0px;
    height: 0px;
    background-color: rgba(0, 0, 0,0.6);
    z-index: 999; 
    display: flex;
    /* align-items: center;
    justify-content: center; */
  } 

  .modal-content {
    position: relative;
    top: 0px;
    align-items: center;
    border-radius: 4px;
    padding: 0px;
    /* margin: 5px; */
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15); */
  }

  .Modal{
    /* background-color: red; */
    width: 837px;
    height: 735px;
    margin: -15px;
    border-style: none;
    /* padding-top: 2px; */
    
  }
p{
    margin: 0;
    padding-left: 1.8rem;
}

.row{
    padding: 0px;
}
.btn_icon img{
    height: 12px;
    width: 12px;
}
.col-md-6 img{
    height:741px;
    width: 750px;
    /* margin-left: -5px; */
    /* margin-bottom: 6px; */
    /* margin-top: -20px; */
}

.card-texts{
    font-size: 17px;
    margin-left: -12px;
}
.card-title{
    font-size: 30px;
    margin-top: 20px;
}
.card-txtr{
    font-size:24px ;
    flex: 1;
    
}
.card-txt{
    font-size:17px ;
    flex: 1;
}
.card-txt span{
    font-size: 14px;
    margin-top: -12px;
}

.flx{
    justify-content: space-between;
}
.pops{
   margin-top: -20px;
    
}
button a {
    text-decoration: none;
    font-size: 14px;
    align-items: center;
    font-weight:500 ;
    color: #FFFFFF;
}

.modaldisplay{
    display: "flex";
    justify-content: "center";
    align-items: "center";
} 
/* .book-card {
    position: relative;
  }
  
/* .FavIcon{
    position: absolute; 
} */

  /* .book-card svg {
    position: absolute;
    margin-left: 18.0rem;
    margin-top: 2.4rem;
    padding:5px ;
    width: 42px; 
    height: 42px; 
    background-color: white;
    border-radius: 80px; 
  }  */

  .book-card {
    position: relative;
  }
  
  .icons-container {
    position: absolute;
    top: 7.5%;
    left: 66%;
  }
  
  .book-card svg {
    width: 42px;
    height: 42px;
    background-color: white;
    border-radius: 80px;
    padding: 5px;
  }
  